pandas
openpyxl
requests
pdfplumber
camelot-py
lxml
beautifulsoup4
chromadb
langchain
langchain-chroma
langchain-huggingface 
langchain_community
langchain-text-splitters
sentence-transformers
python-dotenv