pandas==2.3.3
openpyxl==3.1.5
requests==2.33.1
pdfplumber==0.11.9
camelot-py==1.0.9
lxml==6.0.4
beautifulsoup4==4.14.3
chromadb==1.5.7
langchain==1.2.15
langchain-chroma==1.1.0
langchain-huggingface==1.2.1
langchain_community==0.4.1
langchain-text-splitters==1.1.1
sentence-transformers==3.4.1
python-dotenv==1.2.2
click==8.1.7
infinity-emb[all]==0.0.64
llama-cpp-python==0.3.20
llama-cpp-python[server]==0.3.20
optimum==1.16.2
openai==2.31.0
pymupdf==1.27.2.2
huggingface-hub==0.36.2
